.effect-fade {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 1s;
}

.effect-fade.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    position: relative;
    min-height: 100%;
}

header {
    /* background-color: rgb(0, 109, 160); */
    background: #FFCC33;
    font-family: "Nico Moji", sans-serif;
    padding-bottom: 1rem;
}

.logout-button{
    background-color: red;
}

.name-tag{
    padding: 0.5rem;
    margin-top: 1rem;
    color: white;
    top: 50%;
}

.logo {
    /*親div*/
    position: relative;
    /*相対配置*/
}

.logo h1 {
    position: absolute;
    /*絶対配置*/
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*以下装飾*/
    margin: 0;
    /*余計な隙間を除く*/
    font-size: 25px;
    /*文字サイズ*/
    /* border: solid white 2px; /*線で囲う*/
    /* padding: 7px;文字と線の間の余白 */
    text-decoration: none;
    /*下線を表示させない*/
    white-space: nowrap;
    /*文字を折り返さない*/
    color: rgb(58, 58, 187);
}

.logo img {
   margin-top: -5rem;
   margin-left: -10rem;
}

.card-body h5 {
    color: black;
    font-family: "Nico Moji", sans-serif;
}

.hukidashi-title {
    position: relative;
}

.hukidashi-title h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.main {
    padding-top: 2rem;
    background-color: #FFCC33;
    background-image: url("../img/b_simple_65_0L.png");
    background-repeat: repeat-x;
    background-position: top;
}

.grid {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.infinity-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 200px);
}

.material-icons {
    font-size: 35px;
    color: white;
}

.menu {
    display: flex;
}

.menu i {
    margin-top: 1rem;
    text-align: center;
}

.menu p {
    color: white;
    text-align: center;
    font-size: 14px;
}

.menu a {
    text-decoration: none;
}

ui {
    text-align: center;
}

ui li {
    display: inline;
    list-style-type: none;
    width: 5rem;
    padding: 0.5rem;
}

ui li+li {
    border-left: 2px dotted white;
}

.btn-flat-dashed-border {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: rgb(255, 248, 240);
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.btn-flat-dashed-border:hover {
    border-style: dotted;
    color: #679efd;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
    padding: 10%;
}

.card-body {
    position: relative;
}

.card-body img {
    width: 100%;
}

.card-text {
    width: 100%;
    height: 100px;
    max-height: 100px;
}

.sub {
    padding: 1rem;
}

#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background: rgb(0, 109, 160);
    opacity: 0.6;
    border-radius: 50%;
}

#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -10px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

footer {
    width: 100%;
    height: 50px;
    color: white;
    padding-top: 1rem;
    background-color: rgb(4, 139, 110);
}

/*アニメーション*/

/** 画像ホバー時 */

.card-img-top:hover {
    -webkit-animation: bound 1s ease-in;
    -moz-animation: bound 1s ease-in;
    animation: bound 0.5s ease-in;
}

/** アニメーションの定義 */

@keyframes bound {
    /** 開始時は１倍の大きさ */
    from {
        transform: scale(1);
    }
    /** 0%～25%にかけて1.15倍する */
    50% {
        transform: scale(1.15);
    }
    /** 終了時は元の大きさに戻す */
    to {
        transform: scale(1);
    }
}

/*ローディング画面*/

#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFCC33;
    z-index: 1;
}

#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 2;
}