header {
    width: 100%;
    height:100px;
    font-size: 40px;
    color:rgb(0, 140, 255);
    background-color: rgb(250, 250, 208);
    font-family: Nico Moji , sans-serif;
}
.title{
    margin-top: 1rem;
}

.main{
    background-color:  rgb(250, 250, 208);
}

.grid{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    margin-top: 1rem;
    margin-right: 0.5rem;
    }
    

footer{
    width: 100%;
    height:50px;
    background-color: white;
}

.potato_img{
    width:100%;
    height: 300px;
    object-fit: cover;
}

.card-title{
    width: 100%;
    height: 40px;
    max-height: 40px;
}

.card-text{
    width: 100%;
    height: 100px;
    max-height: 100px;
}