header {
    padding: 1rem;
    font-size: 40px;
    color:rgb(0, 140, 255);
    background-color: rgb(250, 250, 208);
    font-family: Nico Moji , sans-serif;
}

.main{
    background-color:  rgb(250, 250, 208);
}

.grid{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.infinity-grid{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(4, 200px);
}



.material-icons{
    font-size: 35px;
}

footer{
    width: 100%;
    height:50px;
    margin-top: 1rem;
    background-color: white;
}

.card-img-top{
    width:100%;
    height: 300px;
    object-fit: scale-down;
    padding: 10%;
}

.card-title{
    width: 100%;
    height: 40px;
    max-height: 40px;
}

.card-text{
    width: 100%;
    height: 100px;
    max-height: 100px;
}

.potato-list{
    padding: 2rem;
}

.sub{
    padding: 1rem;
}