header {
    width: 100%;
    height:100px;
    font-size: 40px;
    color:rgb(0, 140, 255);
    background-color: yellow;
}
.main{
    background-color: yellow;
}

footer{
    width: 100%;
    height:50px;
    background-color: white;
}

.potato_img{
    width:100%;
    height: 300px;
    object-fit: cover;
}